// .wrapper {
//   width: 100%;
//   height: 100%;
// }

.image-fullscreen {
  height: 90vh;
  // height: 100%;
  margin-right: 3rem;
  img {
    height: 100%;
  }
}

.text-scroll {
  // they collapse the div. why?
  // overflow: hidden;
   // overflow-y:auto;
  box-shadow: 0px 0px 38px 10px rgba(0,0,0,0.04);
  border-radius: 1px;
  width: auto;
  margin: auto 3rem;
  padding: 40px;
  border: 1px solid white;
  box-sizing: border-box;
}

.text-scroll p {
  height: 100%;
  // overflow:scroll;
  margin: 0;
}

.scroll {
  overflow-y: scroll;
}

nav {
  justify-content: center;
  text-align: center;
  border-bottom: solid 1px black;
  margin-bottom: 1rem;
  // font-size: 2.5rem;
  padding: 0.5rem 0;
}

// .container {
//   padding: 0 0.2rem;
// }

.container {
  display: flex;
  // !!! This keeps the navbar from overflowing !!!
  overflow: auto;
}

.nav-flex {
  display:flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  // display:flex;
  // justify-content: space-between;
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  color: white !important;
  font-size: 1.5rem;
}
